*{ 
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header { 
    background: #2E948A;
    margin: auto;
    height: 117px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);}

#logo-inicio{margin: 80px;}

header menu { 
    display: flex;
    list-style: none;
    margin: 90px;}

header menu li a { padding: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color:#FDFDFD;}

form{ margin: 11%;}

form h2{ padding: 5px;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FF4081;}

input{width: 493px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    padding: 0px 0px 0px 20px;
    cursor: pointer;}

textarea{ width: 493px;
    height: 193px;
    padding: 20px 0px 0px 20px;
    cursor: pointer;}

input text{ margin: 10%;}

button{
    width: 108px;
    height: 32px;
    background: #FF4081;
    border-radius: 50px;
    border: 2px solid #FF4081;
    color: #FDFDFD;
    cursor: pointer;
}
.conteudo{ display: flex;
    padding: 0px;}

.conteudo img { padding: 150px 0px;}

footer{ 
    background-color: #419488;
    margin: auto;
    height: 207px;}

#ilustrafim{ 
    width: 300px;
    padding: 50px 0px 0px 100px;}

footer menu { display:inline-block;
    padding-inline: 250px;}

footer menu li { padding: 6px ;
    font-size: 23px;}

footer menu li a{color: #FDFDFD;}

footer div ul { 
    float: right;
    margin: -115px 90px 0px 0px;
    width: 289px;}

footer div ul li {
    height: 42px;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    font-size: 18px;
    text-align: center;
    line-height: 42px;}
footer a{ color: #FDFDFD;}


